# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems will be nicely summarized.

__Objectives__:
* List popular languages in Data Science
* List popular libraries used in Data Science
* Tabulate popular tools used in Data Science
* List some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch
4. Matplotlib
5. TensorFlow

|Data Science Tools|
------------------
Jupyter Notebooks
R Studio
Spyder

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
# Output the result
hours

3.3333333333333335

## Author
Jason Hall